* {
  padding: 0;
  margin: 0;
}

.sourceCodeLink{
  /* position: absolute;
  left: 5px;
  top: 5px; */
}

.wrapperDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}



.task4 table, .task4 th, .task4 td{
  border: 1px solid black;
}